  .history p {
    margin: 0px;
    text-align: justify;
  }
  .history h2 {
    text-align: center;
    font-weight: 800;
  }

  .history .logo {
    height:100px;
    width:100px;
    background-image: url("https://hollysky.fr/views/default/webroot/img/background_blur.png");
    background-size: cover;
    border-radius: 5px;
  }
  .history .logoFilter {
    background-color: rgba(58,171,87,.8);
    border-radius: 5px;
  }

  .history .team .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .history .team .name {
    font-weight: 800;
    font-size: 25px;
    color:black;
  }
  .history .team .date {
    font-style:oblique;
  }

  .history .team .bd-left {
    border-left:rgba(0,0,0,.2) 3px solid;
    margin-left:-3px;
    color: red;
  }
  .history .team .bd-right {
    border-right:rgba(0,0,0,.2) 3px solid;
  }
  .history .bg img {
    width: 100%;
  }
  .history .profile {
    width:30px;
    border-radius: 50%;
  }


  .history .content-team {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  .history .content-left {
    margin-left: -50px;
  }
  .history .content-left img {
    margin-left: 10px;
  }
  .history .content-left .bgFilter {
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
  }
  .history .content-left .bg {
    border-radius: 5px 0px 0px 5px;
    background-size: cover;
  }
  .history .content-right {
    margin-right: -50px;
  }
  .history .content-right img {
    margin-right: 10px;
  }
  .history .content-right .bgFilter {
    padding: 20px;
    border-radius: 0px 5px 5px 0px;
  }
  .history .content-right .bg {
    border-radius: 0px 5px 5px 0px;
    background-size: cover;
  }
  .history .badge-grey {
    background-color: rgb(238,238,238);
  }
